
.idea/codeStyles/Project.xml
.idea/libraries/Dart_SDK.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Flutter_Plugins.xml
shehacks4/pubspec.lock
